{% extends 'base.html' %}
{% load staticfiles %}
{% block custom_css %}
    <link href="{% static 'css/deploy.css' %}" rel="stylesheet">
{% endblock %}
{% block custom_js %}
    <script src="{% static 'js/deployment.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="client-container">
            <div class="client-container-div">
                <div class="row-container-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-9 col-md-9 col-xs-8 col-sm-8">
                        <h3><i class=""></i>Deploy Project</h3>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-4 col-sm-4" style="margin-top: 15px;">
                        <div class="input-group search-group ">
                            <input id="search-keywords" class="form-control" type="text" name="" value="" placeholder="Search client">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" id="searchButton">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div style="height: 30px"></div>
                <table class="table table-bordered table-hover table-condensed" id="client-table">
                    <thead class="client-thead">
                    <tr>
                        <th><div class="cell"><input id="check-all" name="check-all" type="checkbox"></div></th>
                        <th><div class="cell">Status</div></th>
                        <th><div class="cell">ID</div></th>
                        <th><div class="cell">Name</div></th>
                        <th><div class="cell">IP</div></th>
                        <th><div class="cell">Port</div></th>
                        <th><div class="cell">Description</div></th>
                        <th><div class="cell">Deployed At</div></th>
                        <th><div class="cell">Operations</div></th>
                    </tr>
                    </thead>
                    <tbody id="project-deploy-tbody">
                        {% for client in clients.object_list %}
                            <tr class="deploy-tr" id="{{ project_name }}_{{ client.id }}">
                                <td><div class="cell"><input id="check[]" name="check[]" type="checkbox" value="{{ client.id }}"></div></td>
                                <td>
                                    <div class="cell">
                                        <button type="button" class="btn btn-xs client-status
                                            {% if client.status  == 1 %}btn-success{% else %}btn-danger{% endif %}"
                                                data-url="{% url 'deployment:client_status' client.id %}">
                                            {% if client.status  == 1 %}Normal{% else %}Error{% endif %}
                                        </button>
                                    </div>
                                </td>
                                <td class="deploy-client-id"><div class="cell">{{ client.id }}</div></td>
                                <td class="deploy-client-name"><div class="cell">{{ client.name }}</div></td>
                                <td class="deploy-client-ip"><div class="cell">{{ client.ip }}</div></td>
                                <td class="deploy-client-port"><div class="cell">{{ client.port }}</div></td>
                                <td class="deploy-desc"><div class="cell">{{ client.deploy_desc }}</div></td>
                                <td>
                                    <div class="cell">
                                        <a href="{% url 'deployment:project_version' client.id project_name %}"
                                           id="deploy-version-a" style="display: none"></a>
                                        <span id="deploy-at-span">{{ client.deployed_at }}</span>
                                    </div>
                                </td>
                                <td style="width: 150px">
                                    <div class="cell">
                                        <button type="button" data-url="{% url 'deployment:project_client_deploy' client.id project_name %}"
                                            class="btn btn-theme03 btn-xs" id="deploy-operation-button" >
                                            <span class="fa fa-cloud-upload" style="color: white">&nbsp;Deploy</span>
                                        </button>
                                    </div>

                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="9" class="text-center bg-warning">No deploy project</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="pull-left" id="batch-operate-div">
                            <button type="button" class="btn btn-info btn-xs " disabled="disabled"
                                    data-url="" id="batch-operate" name="batch-operate">
                                <span class="glyphicon glyphicon-trash"></span>&nbsp;
                                Batch Deploy
                            </button>
                        </div>
                        <div class="pull-right" id="paginator-div">
                            <span class="page-list" >Showing {{ clients.paginator.start_item }} to
                                    {{ clients.paginator.end_item }} of {{ clients.paginator.count }} rows,
                            </span>
                            <span class="page-list">
                                <span class="btn-group dropup">
                                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="page-size">{{ clients.paginator.per_page }}</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="menuitem" class="{% ifequal clients.paginator.per_page 5 %}active{% endifequal %}"><a href="?pageSize=5">5</a></li>
                                        <li role="menuitem" class="{% ifequal clients.paginator.per_page 10 %}active{% endifequal %}"><a href="?pageSize=10">10</a></li>
                                        <li role="menuitem" class="{% ifequal clients.paginator.per_page 25 %}active{% endifequal %}"><a href="?pageSize=25">25</a></li>
                                        <li role="menuitem" class="{% ifequal clients.paginator.per_page 50 %}active{% endifequal %}"><a href="?pageSize=50">50</a></li>
                                        <li role="menuitem" class="{% ifequal clients.paginator.per_page 100 %}active{% endifequal %}"><a href="?pageSize=100">100</a></li>
                                        <li role="menuitem" class="{% ifequal clients.paginator.per_page clients.paginator.count %}active{% endifequal %}">
                                            <a href="?pageSize={{ clients.paginator.count }}">All</a>
                                        </li>
                                    </ul>
                                </span> rows per page
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="pageturn pull-right " id="pageturn" style="margin-top: 10px">
                            <ul class="pagelist">
                                {% if clients.has_previous %}
                                    <li class="long"><a href="?{{ clients.previous_page_number.querystring }}">Prev Page</a></li>
                                {% endif %}

                                {% for page in clients.pages %}
                                    {% if page %}
                                        {% ifequal page clients.number %}
                                            <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                        {% else %}
                                            <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                        {% endifequal %}
                                    {% else %}
                                        <li class="none" style="display: none"><a href="">...</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if clients.has_next %}
                                    <li class="long"><a href="?{{ clients.next_page_number.querystring }}">Next Page</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div style="height: 10px"></div>

{#                <div class="pull-left" id="batch-operate-div">#}
{#                    <button type="button" class="btn btn-info btn-xs " disabled="disabled"#}
{#                            data-url="" id="batch-operate" name="batch-operate">#}
{#                        <span class="glyphicon glyphicon-trash"></span>&nbsp;#}
{#                        Batch Deploy#}
{#                    </button>#}
{#                </div>#}
{#                <div style="height: 45px"></div>#}
            </div>

            <div class="row deploy-info-container">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="row-deploy-div">
                    <div id="deploy-project-info">
                        <div><h3 class="deploy-form-title" style="">Project</h3></div>
                        <div>
                            <form class="form-horizontal" id="deploy-form-horizontal">
                                <div class="form-group">
                                    <a href="{% url 'deployment:project_build' project_name %}" id="build-info-a" style="display: none"></a>
                                    <label for="projectName" class="control-label col-sm-2 deploy-project-form-label">
                                        Name
                                    </label>
                                    <div class="col-sm-8 deploy-form-input">
                                        <div class="form-control deploy-project-form-div" id="projectName">{{ project_name }}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="packageName" class="col-sm-2 control-label deploy-project-form-label">
                                        Package
                                    </label>
                                    <div class="col-sm-8 deploy-form-input">
                                        <div class="form-control deploy-project-form-div" id="package-egg">egg</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="packageBuildAt" class="col-sm-2 control-label deploy-project-form-label">
                                        Build At
                                    </label>
                                    <div class="col-sm-8 deploy-form-input">
                                        <div class="form-control deploy-project-form-div" id="package-build-at">00:00:00</div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="row-deploy-div">
                    <div id="deploy-project-build">
                        <div><h3 class="deploy-form-title" style="">Build Project</h3></div>
                        <div>
                            <form class="form-horizontal" action=""
                                  method="post" id="deploy-form-horizontal">
                                <div class="form-group">
                                    <label for="projectName" class="control-label col-sm-2 deploy-project-form-label">
                                        Name
                                    </label>
                                    <div class="col-sm-8 deploy-form-input">
                                        <div class="form-control deploy-project-form-div" id="build-project-name">
                                            {{ project_name }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="packageName" class="col-sm-2 control-label deploy-project-form-label">
                                        Description
                                    </label>
                                    <div class="col-sm-8 deploy-form-input">
                                        <input type="" class="form-control" id="build-project-desc" name="description"
                                               placeholder="input deploy description here.">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8 deploy-form-input">
                                        <button class="btn btn-sm btn-theme03" type="button" id="build-project-button"
                                                data-url="{% url 'deployment:project_build' project_name %}">
                                            <i class="fa fa-codepen"></i>&nbsp;&nbsp; <span id="build-span">build</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- just for client create update delete-->
    <div class="modal fade" id="modal-client">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <!-- just for batch deploy-->
    <div class="modal fade" id="modal-batch-operate">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Confirm batch deployment</h4>
                </div>
                <div class="modal-body">
                    <p class="lead">Are you sure you want to deploy your chosen <strong>Projects</strong>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger js-batch-operate" >Deploy projects</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
