{% for crontab in crontabs.object_list %}
    <tr>
        <td><div class="cell"><input id="check[]" name="check[]" type="checkbox" value="{{ crontab.id }}"></div></td>
        <td><div class="cell">
            {{ crontab.id }}
        </div></td>
        <td><div class="cell">
            {{ crontab }}
        </div></td>
        <td><div class="cell">
            {{ crontab.minute }}
        </div></td>
        <td><div class="cell">
            {{ crontab.hour }}
        </div></td>
        <td><div class="cell">
            {{ crontab.day_of_week }}
        </div></td>
        <td><div class="cell">
            {{ crontab.day_of_month }}
        </div></td>
        <td><div class="cell">
            {{ crontab.month_of_year }}
        </div></td>
        <td style="">
            <div class="cell">
                <button type="button"
                    class="btn btn-warning btn-xs js-update-task"
                    data-url="{% url 'tasks:crontab_update' crontab.id %}">
                    <span class="fa fa-edit"></span>&ensp; Edit
                </button>
{#                <button type="button" id="getAHref"#}
{#                    class="btn btn-theme03 btn-xs">#}
{#                    <a href="{% url 'deployment:task_schedule' task.id %}" style="color: white">#}
{#                        <span class="fa fa-sitemap"></span>&ensp;Schedule</a>#}
{#                </button>#}
                <button type="button"
                    class="btn btn-danger btn-xs js-delete-task"
                    data-url="{% url 'tasks:crontab_remove' crontab.id %}">
                    <span class="fa fa-remove"></span>&ensp;Delete
                </button>
            </div>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="9" class="text-center bg-warning">No Crontab</td>
    </tr>
{% endfor %}